/*
* GLOBAL
****************************************
****************************************
*/
.app-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: #fff;
}

.profile-picture {
  /*border-radius: 200px;*/
  height: 300px;
}

/* Dark Grey 454C4A*/
/* Light Grey E6E7E6*/
/* White FFF*/
/* Green 5FE3AF */
/* Black 07100D */

.bio-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*padding: 20px;*/
}

.logo {
  height: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.column-left {
  flex: 2;
}

.column-right {
  flex: 1;
}

.name {
  font-size: 32px;
  font-weight: 300;
  color: #454C4A;
}

/*
 * BOT SECTION
 * ===================================
 * ===================================
 */

.portfolio-container {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('./assets/images/background.svg');
}

.portfolio-header {
  color: #454C4A;
  text-align: center;
}

.bot-item-list {
  display: flex;
  justify-content: space-around;
}

.bot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.bot-image {
  width: 100px;
}

.bot-name {
  margin: 5px 0;
}

.bot-type {
  color: #454C4A;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600px;
}

/*
 * PROFILES SECTION
 * ===================================
 * ===================================
 */

.profiles-container {
  flex: 1;
  width: 100%;
  background: blue;
}
